<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontaktieren Sie uns</h2>
                    <h3 class="section-subheading text-muted">Bei Fragen, Anregungen oder Terminanfragen schreiben Sie uns gerne eine Nachricht.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ihr Name *" id="name" required data-validation-required-message="Bitte tragen Sie Ihren Namen hier ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Ihre Emailadresse *" id="email" required data-validation-required-message="Bitte tragen Sie Ihre Emailadresse hier ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Ihre Telefonnummer *" id="phone" required data-validation-required-message="Bitte tragen Sie Ihre Telefonnummer hier ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Ihre Nachricht *" id="message" required data-validation-required-message="Bitte tragen Sie Ihre Nachricht hier ein."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Nachricht Senden</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
