<!-- About Section -->
    <section id="uber" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Über Uns</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/training.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Trainingszeiten</h4>
                                    <h4 class="subheading">Erwachsende</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <i>Sommer</i>
                                        <br>Di/Do 17:30 Uhr
                                        <br>
                                        <br><i>Winter</i>
                                        <br>So 17:00 Uhr
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kinder2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Trainingszeiten</h4>
                                    <h4 class="subheading">Kinder und Jugendliche</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <i>Nach Absprache</i>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kinder.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Beiträge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <i>Erwachsende</i>
                                        <br>125 Euro pro Jahr
                                        <br>
                                        <br><i>Jugendliche und Studenten</i>
                                        <br>75 Euro pro Jahr
                                        <br>
                                        <br><i>Kinder</i>
                                        <br>50 Euro pro Jahr
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.google.de/maps/place/52%C2%B033'19.3%22N+11%C2%B058'08.2%22E/@52.5553732,11.9667573,801m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0"><img class="img-circle img-responsive" src="img/about/karte.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Anfahrt</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Unser Clubhaus und die beiden Tennisplätze finden Sie am <i><a href="https://www.google.de/maps/place/52%C2%B033'19.3%22N+11%C2%B058'08.2%22E/@52.5553732,11.9667573,801m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0">Schwarzen Weg</a></i> in Tangermünde, direkt neben dem <i>Stadion am Wäldchen.</i></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Werden Sie
                                    <br>Teil des
                                    <br>Clubs!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
